<header id="header" class="sticky-top">
    <nav class="navbar navbar-expand navbar-light">
        <a href="{{server.path}}/{{category.path}}" class="navbar-brand">
            {{#if category.logo}}
            <img src="{{server.path}}/{{category.logo}}" alt="Logo">
            {{/if}}
        </a>

        <button id="theme" class="ml-auto" data-theme="light" data-target="body">
            <input type="checkbox" id="checkbox" />
            <div class="dot">
                {{> svg/svg file="bootstrap-icons" name="brightness-high" class="theme-dark-icon"}}
                {{> svg/svg file="bootstrap-icons" name="brightness-high-fill" class="theme-light-icon"}}
            </div>
        </button>

    </nav>
    {{#if article.wip}}
    <div class="alert alert-warning alert-dismissible fade show text-center" role="alert">
        This article is still work in progress. Things may added, changed or removed completely.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {{/if}}
</header>
